<div ng-include src="'navbar.tpl.html'"></div>
<div class="panel panel-primary" id="userPanel">
    <div class="panel-heading">
        <h3 class=panel-title>{{'Online Users: ' + ctrl.userCount()}}</h3>
    </div>
    <div class="panel-body" id="userPanelBody">
        <div class="list-group">
            <button type="button" class="list-group-item" ng-repeat="user in ctrl.users" ng-click="ctrl.startChat(user)">
                {{user.username + ' - ' + user.gender + ' [' + user.country + ']'}}
            </button>
        </div>
    </div>
</div>