<div ng-include src="'navbar.tpl.html'"></div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Inbox</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <button type="button" class="list-group-item" ng-repeat="(logName, logMessages) in ctrl.unreadMessages" ng-click="ctrl.startChat(logName)">
                <div class="col-md-1">
                    {{logName}}
                    <span class="badge">{{logMessages.length}}</span>
                </div>
            </button>
        </div>
        <h3 ng-if="!ctrl.hasUnreadMessages()">No unread messages to show</h3>
    </div>
</div>