<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
        <input type="text" placeholder="Username" ng-model="ctrl.user.username"/>
        <input type="radio" name="gender" value="Male" ng-model="ctrl.user.gender" id="rdoMale"/>
        <label for="rdoMale">Male</label>
        <input type="radio" name="gender" value="Female" ng-model="ctrl.user.gender" id="rdoFemale"/>
        <label for="rdoFemale">Female</label>
        <button class="btn btn-primary" ng-click="ctrl.login()">Login</button>
    </div>
</div>