#containerPanel{
    margin: auto;
    margin-top: 100px;
    max-width: 25%;
    text-align: center;
}

#usernameInput{
    margin: auto;
    margin-bottom: 5px;
}

#countryDropdown{
    width: 100%;
    margin-bottom: 10px;
}