#usernameContainer{
    border-left: 1px solid #3072AC;
    margin-top: 10px;
    padding-left: 15px;
    float: right;
    text-align: center;
    display: inline-block;
}

#username{
    margin: auto;
}